{% extends 'base.html.twig' %}

{% block title %}Home - EduPlay{% endblock %}

{% block header %}
  <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
    <h6>Welcome to EduPlay</h6>
    <h2>Your Gateway To Life- <em>Long E-Learning</em></h2>
    <p>EduPlay - Your Trusted Platform For Professional E-Learning.</p>
  </div>
  <div class="col-lg-6">
    <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
      <img src="{{ asset('assets/images/banner-right-image.png')}}" alt="team meeting">
    </div>
  </div>
{% endblock %}