<form method="post" action="{{ path('cours_deleteb', {'id': cours.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce cours ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cours.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
