{% extends 'front.html.twig' %}

{% block title %}Welcome to EduPlay{% endblock %}

{% block body %}
<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <h6>Welcome to EduPlay</h6>
                            <h2>Your Gateway ToLife- <em>Long E-Learning</em></h2>
                            <p>EduPlay-Your Trusted Platform For Professional E-Learning. </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="assetsf/images/banner-right-image.png" alt="team meeting">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Static Courses Section -->
<div class="courses-section py-6">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-5">Explore Our Courses</h2>
            </div>

            <!-- Course 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-card bg-dark text-white rounded shadow-lg">
                    <img src="{{ asset('assetsf/images/course1.jpg') }}" class="course-image rounded-top" alt="Course 1">
                    <div class="course-details p-4">
                        <h4>Web Development for Beginners</h4>
                        <p>Learn the basics of web development with hands-on projects.</p>
                        <button class="btn btn-primary" onclick="increaseParticipants('course1')">Join Course</button>
                        <p>Participants: <span id="course1-participants">0</span></p>
                    </div>
                </div>
            </div>

            <!-- Course 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-card bg-dark text-white rounded shadow-lg">
                    <img src="{{ asset('assetsf/images/course2.jpg') }}" class="course-image rounded-top" alt="Course 2">
                    <div class="course-details p-4">
                        <h4>Mastering Python Programming</h4>
                        <p>Enhance your skills in Python programming through in-depth lessons.</p>
                        <button class="btn btn-primary" onclick="increaseParticipants('course2')">Join Course</button>
                        <p>Participants: <span id="course2-participants">0</span></p>
                    </div>
                </div>
            </div>

            <!-- Course 3 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-card bg-dark text-white rounded shadow-lg">
                    <img src="{{ asset('assetsf/images/course3.jpg') }}" class="course-image rounded-top" alt="Course 3">
                    <div class="course-details p-4">
                        <h4>Advanced Data Science with R</h4>
                        <p>Take your data science skills to the next level with R programming.</p>
                        <button class="btn btn-primary" onclick="increaseParticipants('course3')">Join Course</button>
                        <p>Participants: <span id="course3-participants">0</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us Section -->
<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <div class="section-heading">
                    <h2>Feel Free To Send Us a Message About Your Website Needs</h2>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                            </fieldset>
                        </div>
                    </div>
                    <div class="contact-dec">
                        <img src="{{ asset('assetsf/images/contact-decoration.png') }}" alt="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
                <p>© Copyright 2025 EduPlay Co. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block javascripts %}
    <script>
        function increaseParticipants(courseId) {
            const participantSpan = document.getElementById(courseId + '-participants');
            let currentParticipants = parseInt(participantSpan.innerText);
            participantSpan.innerText = currentParticipants + 1;
        }
    </script>
{% endblock %}
